.form-edit-movie {
    box-shadow: 1px 3px 10px 5px rgba(0, 0, 0, 0.2)
}
.warning {
    color: red;
}
@media screen and (max-width: 1100px) {
    .container {
        width: 100%!important;
        margin: 0!important;
    }
    .form-movie {
        box-shadow: none;
    }
}
@media screen and (max-width: 650px) {
    .kind-movie .col-3 {
        width: 50%;
        text-align: left!important;
    }
    .kind-list {
        width: 50%!important;
        margin: auto;
    }
    .col-8 {
        margin: auto!important;
    }
}
